.followSection {
  padding-top: rem(40px);
  position: relative;
  z-index: 3;

  @include min-tablet {
    padding-top: rem(440px);
  }

  @include pcSmall {
    padding-top: rem(735px);
  }

  .container {
    .follow {
      text-align: center;

      &_title {
        font-size: rem(40px);
        line-height: rem(40px);
        margin-bottom: rem(32px);

        @include min-tablet {
          font-size: rem(32px);
          margin-bottom: rem(24px);
          line-height: 100%;
        }

        @include pcSmall {
          font-size: rem(64px);
          line-height: rem(86.27px);
          margin-bottom: rem(32px);
        }
      }

      &_content {
        font-size: rem(24px);
        line-height: rem(28.18px);
        margin-bottom: rem(16px);

        @include min-tablet {
          font-size: rem(18px);
        }

        @include pcSmall {
          font-size: rem(24px);
        }
      }
    }

    .svgAnimate {
      position: absolute;
      top: rem(128px);
      left: 0;
      width: 100%;
      max-height: rem(900px);
      display: none;

      @include min-tablet {
        display: block;
      }

      svg {
        width: 100%;
        height: auto;

        .path {
          opacity: 0;
        }
      }
    }
  }

  .parallaxBg {
    position: relative;
    z-index: -1;
    margin: 0;
    overflow: hidden;

    img {
      width: 100%;
      object-fit: cover;
    }
  }
}
