.shopHero {
  margin-bottom: rem(50px);
  position: relative;
  overflow: hidden;
  height: 100vh;

  .container {
    height: 100%;
  }

  &_img {
    width: 100%;
    position: relative;
    aspect-ratio: 3840/2160;
    z-index: 1;

    img {
      width: 100%;
      height: auto;
    }
  }

  &_content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    color: var(--tan);
  }

  .wrapContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: rem(48px);
    padding-left: rem(24px);
    position: relative;

    .verticalLine {
      position: absolute;
      left: 0;
      top: 0;
      width: rem(1px);
      height: 0%;
      background: var(--tan);
    }

    .horizontalLine {
      position: absolute;
      top: 53%;
      left: 0;
      width: 0%;
      height: rem(1px);
      background: var(--tan);
      transform: translate(-5%, -50%) scaleX(4);
    }
  }

  &_title {
    font-size: rem(86px);
    line-height: rem(86px);
    letter-spacing: rem(8.6px);
    height: fit-content;
  }

  &_desc {
    max-width: 65%;
  }

  &_link {
    position: absolute;
    left: rem(24px);
    bottom: rem(32px);
  }
}
