.cartItem {
  position: relative;
  display: flex;
  gap: rem(20px);
  // border-bottom: rem(1px) solid var(--black-08);
  margin-bottom: rem(28px);
  // height: rem(164px);
  @include onlyMobile {
    flex-direction: column;
  }

  &_wrapper {
    @include onlyMobile {
      flex-direction: column;
    }
  }

  &_stats {
    flex: 3;
    gap: rem(25px);
  }

  &_contentWrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
  }

  &_img {
    position: relative;
    width: 100%;
    aspect-ratio: 1;
    border-radius: rem(25px) rem(5px) rem(5px) rem(5px);
    overflow: hidden;

    @include min-tablet {
      width: rem(370px);
    }
    img {
      aspect-ratio: 1;
      object-fit: cover;
    }
  }

  &_title {
    display: block;
    font-size: rem(20px);
    line-height: rem(20px);
    margin-bottom: rem(24px);
    transition: 0.4s all var(--easeOutQuart);
    // background: var(--black-08);
    width: fit-content;
    color: var(--black-08);

    @include min-tablet {
      padding: rem(10px);
      font-size: rem(28px);
      line-height: rem(28px);
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &_content {
    flex: 1;
    display: flex;
    gap: rem(20px);
    align-items: center;
    width: 100%;

    .wrapContent {
      width: 50%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .wrapSelect {
      display: flex;
      flex-direction: column;
      gap: rem(16px);
      margin-bottom: rem(16px);
    }
  }

  &_delete {
    position: relative;
    bottom: 0;
    right: 0;
    cursor: pointer;
    font-weight: 700;
    transition: 0.4s all var(--easeOutQuart);
    padding: rem(10px);
    border: rem(1px) solid var(--black-08-20);
    border-radius: rem(50px);
    width: fit-content;
    margin-top: rem(16px);

    &_wrapper {
      display: flex;
      justify-content: flex-end;
    }

    @include min-tablet {
      position: absolute;
      flex: 1;
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &:last-child {
    margin-bottom: 0;
  }
}

.trashBtn {
  width: rem(20px);
  height: auto;
  aspect-ratio: 1;
}

.sizeOptions,
.colorOptions {
  position: absolute;
  bottom: rem(-12px);
  right: 0;
  width: fit-content;
  min-width: rem(60px);
  border: rem(1px) solid var(--black-08-20);
  padding: rem(20px);
  transform: translateY(110%);
  border-radius: rem(24px);
  transition: 0.4s all var(--easeOutQuart);
  opacity: 0;
  background: var(--be);
  z-index: 3;
  pointer-events: none;
  margin-bottom: rem(8px);

  &.open {
    opacity: 1;
    pointer-events: initial;
  }
}

.dropdownIcon {
  width: rem(16px);
  height: auto;
}
