.ant-menu-title-content {
  color: #000;
  display: block;
  text-align: center;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-selected::after {
  border: none;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item:hover::after,
:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item:hover::after,
:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu:hover::after,
:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu:hover::after,
:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-active::after,
:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-active::after,
:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-active::after,
:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-active::after,
:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-light.ant-menu-horizontal
  > .ant-menu-item-open::after,
:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-item-open::after,
:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-light.ant-menu-horizontal
  > .ant-menu-submenu-open::after,
:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-light
  > .ant-menu.ant-menu-horizontal
  > .ant-menu-submenu-open::after {
  border: unset;
}

:where(.css-dev-only-do-not-override-xu9wm8).ant-menu-horizontal {
  line-height: normal;
}

//custom antd
.ant-input {
  background: transparent;
  border: none;
  border-radius: 0;
  border-bottom: rem(1px) solid var(--black-08);
  padding-left: 0;

  &:hover {
    border-color: var(--black-08);
  }

  &:focus-within {
    outline: none;
    box-shadow: none;
    border-color: var(--black-08);
  }

  &::placeholder {
    color: rgba($color: #08080899, $alpha: 0.6);
  }
}

.ant-input-outlined {
  font-size: rem(20px);
  padding: rem(4px) rem(10px);
  background: transparent;
  border: none;
  border-bottom: rem(1px) solid var(--black-08);

  &.ant-input-status-error {
    background: transparent !important;
    border: none !important;
    border-bottom: rem(1px) solid #ff4d4f !important;

    &:focus-within {
      box-shadow: none !important;
    }

    &::not(.ant-input-disabled) {
      background: transparent;
      border: none;
      border-bottom: rem(1px) solid #ff4d4f;
    }
  }

  &:hover {
    background-color: transparent;
    border-color: var(--black-08);
  }

  &:focus {
    border-color: var(--black-08);
    background-color: transparent;
    box-shadow: none;
  }

  &:focus-within {
    box-shadow: none;
    border-color: var(--black-08);
    background-color: transparent;
  }

  &::placeholder {
    color: rgba($color: #08080899, $alpha: 0.6);
  }
}

.ant-input-affix-wrapper {
  padding: rem(4px) rem(10px);
  color: var(--black-08);
  font-size: rem(20px);
  line-height: 100%;
  border-radius: 0;
}

.ant-input-disabled {
  background-color: transparent !important;

  &:hover {
    border-bottom: rem(2px) solid #d9d9d9 !important;
  }
}

.ant-form-item {
  box-shadow: none;

  .ant-btn {
    padding: 0;
    transition: 0.4s all var(--easeOutQuart);
    box-shadow: none;

    span {
      padding: rem(14px) rem(24px);
      border: rem(1px) solid var(--black-08);
      background: var(--black-08);
      border-radius: rem(100px);
      display: block;
      font-size: rem(16px);
      line-height: rem(16px);
      transition: 0.4s all var(--easeOutQuart);
    }

    &:hover {
      background: transparent !important;

      span {
        background: transparent !important;
        color: var(--black-08) !important;
      }
    }

    div {
      &:first-child {
        display: none;
      }
    }

    &:active {
      background: none;
    }
  }
}

.ant-table-wrapper .ant-table {
  font-size: rem(20px);
}

.ant-table-wrapper .ant-table-tbody > tr > td {
  padding: rem(16px) rem(16px);
}

.ant-tag {
  font-size: rem(20px);
  padding: rem(8px);
}

.ant-pagination {
  * {
    font-size: rem(20px);
  }
  .ant-pagination-item,
  .ant-pagination-prev,
  .ant-pagination-next {
    min-width: rem(48px);
    height: rem(48px);
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.ant-table-thead {
  .ant-table-cell {
    // background-color: rgba($color: #080808, $alpha: 0.8) !important;
    background-color: var(--tan) !important;
    color: var(--black-08) !important;
    border-bottom: rem(1px) solid #a37c7590 !important;
    * {
      font-size: rem(20px);
    }
  }
}

.ant-table-tbody {
  .ant-table-cell {
    background-color: var(--tan) !important;
    border-bottom: rem(1px) solid #a37c7520 !important;

    &-row-hover {
      background: #f7f8f4 !important;
    }
    a {
      transition: 0.4s all var(--easeOutQuart);

      &:hover {
        background: var(--white) !important;
        color: #000000e0 !important;
        opacity: 0.5;
      }
    }

    button {
      transition: 0.4s all var(--easeOutQuart);

      &:hover {
        opacity: 0.5;
      }
    }
  }
}

.ant-table-pagination {
  .ant-pagination-item,
  .ant-pagination-item-link {
    &:hover {
      border-radius: 50% !important;
      aspect-ratio: 1 !important;
    }
  }
  .ant-pagination-item-active {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none !important;
    border-radius: 50% !important;
    aspect-ratio: 1 !important;
    background-color: var(--coral) !important;

    a {
      color: var(--tan) !important;
    }
  }
}

.ant-radio-button-wrapper-checked {
  color: inherit !important;
  border-color: var(--black-08-20) !important;
}

.ant-radio-button-checked {
  display: none;
}
