.container {
  //max-width: 100%;
  max-width: var(--container-w);
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--gap-x);
}

.grid {
  column-gap: var(--gap-x);
}

.view-point {
  position: relative;
  z-index: 2;
}

body.is-progress {
  * {
    cursor: progress !important;
  }
}
