.cartModule {
  .emptyCart {
    min-height: 80vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    .notification {
      text-align: center;

      p {
        font-size: rem(64px);
        line-height: rem(64px);
        font-weight: 600;
        margin-bottom: rem(64px);
      }

      a {
        width: fit-content;
        text-align: center;
        padding: rem(16px) rem(48px);
        background: var(--black-08);
        border-radius: rem(100px);
        border: rem(1px) solid var(--black-08);
        color: var(--tan);
        font-size: rem(20px);
        font-weight: 500;
        transition: 0.4s all var(--easeOutQuart);

        &:hover {
          background: var(--tan);
          color: var(--black-08);
        }
      }
    }
  }

  .cart {
    .cartList {
      padding-top: rem(40px);
    }

    .cartInfo {
      margin-right: rem(-40px);
      border-top-left-radius: rem(50px);
      padding: rem(40px);
      background: rgba($color: #A37C751A, $alpha: 0.1);
      min-height: rem(1000px);
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &_title {
        font-size: rem(36px);
        line-height: rem(36px);
        font-weight: 700;
        margin-bottom: rem(132px);
      }
    }
  }
}