.productList {
  // display: flex;
  // flex-wrap: wrap;
  row-gap: rem(88px);
  // row-gap: rem(58px);
}

.search {
  border: 1px solid #080808;
  color: #080808;
  align-items: center;
  border-radius: 3rem;
  display: flex;
  padding: 1rem 1.25rem;

  input {
    color: #080808;
    flex: 1 1;
    font-size: 1.5rem;
    font-weight: 500;
    outline: none;
    padding-right: 1rem;
  }
}
