.transition {
  position: fixed;
  z-index: 8;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  pointer-events: none;
  visibility: hidden;
  display: flex;

  &_item {
    flex: 1;
    height: 100%;
    transform: translateY(100%);
    background: var(--gold);
  }
}
