.cartModel {
  position: fixed;
  z-index: 3;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  pointer-events: none;

  .backdrop {
    position: relative;
    width: 100%;
    height: 100%;
    background: rgba($color: #000, $alpha: 0.4);
    transition: 0.4s all var(--easeOutQuart);
    z-index: 1;
    opacity: 0;
  }

  .model {
    position: absolute;
    right: 0;
    top: 0;
    width: rem(780px);
    height: 100vh;
    transform: translateX(100%);
    transition: 0.4s all var(--easeOutQuart);
    background-color: var(--tan);
    border: rem(1px) solid var(--black-08);
    padding: rem(40px) rem(40px) rem(40px);
    z-index: 2;
    display: flex;
    flex-direction: column;
  }

  &_title {
    font-size: rem(32px);
    line-height: rem(32px);
    font-weight: 500;
    margin-bottom: rem(24px);
  }

  &_list {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    .cartList {
      flex: 1;
      height: auto;
      overflow-y: scroll;
      margin: rem(20px) 0;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .cartInfo {
      border-top: rem(3px) solid var(--black-08);
      padding-top: rem(28px);

      &_subTotal {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        margin-bottom: rem(28px);
        padding: 0 rem(12px);

        .title {
          font-size: rem(28px);
          line-height: rem(32px);
        }

        .content {
          font-size: rem(36px);
          line-height: rem(42px);
          font-weight: 600;
        }
      }

      &_btn {
        button {
          width: 100%;
        }
      }
    }
  }

  &_close {
    cursor: pointer;
    transition: 0.4s all var(--easeOutQuart);

    svg {
      width: rem(20px);
      height: rem(20px);
    }

    &:hover {
      opacity: 0.5;
    }
  }

  &.active {
    pointer-events: initial;

    .backdrop {
      opacity: 1;
    }

    .model {
      transform: translateX(0);
    }
  }
}

.closeBtn {
  width: rem(20px);
  height: auto;
  aspect-ratio: 1;

  * {
    stroke: var(--black-08-60) !important;
  }
}
