.productDetail {
  padding-top: rem(156px);


  &_img {
    border-top-left-radius: rem(50px);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .wrapContent {
    position: relative;
    box-sizing: border-box;
    border: rem(2px) solid var(--coral);
    border-left: 0;
    border-top-right-radius: rem(50px);
    padding-right: rem(40px);
    padding-bottom: rem(40px);

    &_title {
      width: fit-content;
      font-size: rem(64px);
      line-height: rem(64px);
      background: var(--tan);
      position: relative;
      transform: translateY(-50%);
      margin-bottom: rem(36px);
    }

    &_price {
      font-size: rem(36px);
      line-height: rem(36px);
      font-weight: 600;
      margin-bottom: rem(68px);
    }

    &_options {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
    }

    &_qty {
      display: flex;
      align-items: center;
      gap: rem(8px);

      .button {
        width: rem(40px);
        height: rem(40px);
        background: var(--black-08);
        border-radius: rem(20px);
        color: var(--tan);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        span {
          font-size: rem(36px);
          height: fit-content;
          font-weight: 400;
        }

        &:first-child {
          span {
            margin-top: rem(-5px);
          }
        }
      }

      .qty {
        font-size: rem(24px);
        width: rem(70px);
        height: rem(40px);
        border-radius: rem(20px);
        border: rem(1px) solid var(--black-08);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: rem(40px);
      height: rem(2px);
      background: var(--coral);
      transform: translate(-100%, -100%);
    }

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: rem(40px);
      height: rem(2px);
      background: var(--coral);
      transform: translate(-100%, 100%);
    }
  }
}