.productDetail {
  padding-top: rem(156px);

  &_img {
    border-top-left-radius: rem(50px);
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .wrapContent {
    position: relative;
    box-sizing: border-box;
    border: rem(2px) solid var(--coral);
    border-left: 0;
    border-top-right-radius: rem(50px);
    padding-right: rem(40px);
    padding-bottom: rem(40px);

    &_title {
      width: fit-content;
      font-size: rem(64px);
      line-height: rem(64px);
      background: var(--tan);
      position: relative;
      transform: translateY(-50%);
      margin-bottom: rem(36px);
      padding: rem(10px);
    }

    &_price {
      font-size: rem(36px);
      line-height: rem(36px);
      font-weight: 600;
      margin-bottom: rem(68px);
    }

    &_options {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      margin-bottom: rem(24px);
    }

    &_qty {
      display: flex;
      align-items: center;
      gap: rem(8px);

      .button {
        width: rem(40px);
        height: rem(40px);
        background: var(--black-08);
        border-radius: rem(20px);
        color: var(--tan);
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;

        span {
          font-size: rem(36px);
          height: fit-content;
          font-weight: 400;
        }

        &:first-child {
          span {
            margin-top: rem(-5px);
          }
        }
      }

      .qty {
        font-size: rem(24px);
        width: rem(80px);
        height: rem(40px);
        border-radius: rem(20px);
        border: rem(1px) solid var(--black-08);
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &_color {
      margin-bottom: rem(20px);
    }

    &_buttons {
      display: flex;
      border-bottom: rem(1px) solid rgba($color: #a37c75, $alpha: 0.6);
      padding-bottom: rem(32px);
      margin-bottom: rem(32px);

      button {
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: rem(12px);
        padding: rem(15px) 0;
        transition: 0.4s all var(--easeOutQuart);
        border: rem(1px) solid var(--black-08);
        text-transform: uppercase;

        svg {
          path {
            transition: 0.4s all var(--easeOutQuart);
          }
        }

        &:first-child {
          color: var(--tan);
          background: var(--black-08);
          border-bottom-left-radius: rem(100px);
          border-top-left-radius: rem(100px);

          &:hover {
            background: var(--tan);
            color: var(--black-08);

            svg {
              path {
                fill: var(--black-08);
              }
            }
          }
        }

        &:last-child {
          border-top-right-radius: rem(100px);
          border-bottom-right-radius: rem(100px);

          &:hover {
            background: var(--black-08);
            color: var(--tan);

            svg {
              path {
                fill: var(--tan);
              }
            }
          }
        }
      }
    }

    &::before {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: rem(40px);
      height: rem(2px);
      background: var(--coral);
      transform: translate(-100%, -100%);
    }

    &::after {
      position: absolute;
      content: '';
      bottom: 0;
      left: 0;
      width: rem(40px);
      height: rem(2px);
      background: var(--coral);
      transform: translate(-100%, 100%);
    }
  }

  .storyWork_title {
    font-size: rem(64px);
    line-height: rem(64px);
    max-width: rem(430px);
    position: relative;
    margin-bottom: rem(40px);
    margin-top: rem(40px);

    span {
      font-size: rem(96px);
      line-height: rem(96px);
    }

    &::before {
      position: absolute;
      content: '';
      background: var(--coral);
      width: rem(80px);
      height: rem(80px);
      border-radius: rem(100px);
      left: rem(20px);
      top: rem(-4px);
      z-index: -1;
    }
  }
  .productList {
    display: flex;
    flex-wrap: wrap;
    gap: rem(4px);
    margin-bottom: rem(40px);
  }
}
