.radioColor {
  transition: 0.3s all ease-out;
  :global(.ant-radio-group) {
    display: flex;
    gap: rem(16px);
  }

  :global(.ant-radio-button-wrapper) {
    position: relative;
    width: rem(24px);
    height: rem(24px);
    border: rem(1px) solid var(--black-08-20);
    border-radius: rem(100px);
    outline-offset: rem(4px);
    outline: rem(1px) solid var(--black-08-20);
    padding: 0 !important;

    &::before {
      display: none;
    }

    span {
      display: none;
    }
  }

  :global(.ant-radio-button-wrapper-checked) {
    &::after {
      position: absolute;
      content: '';
      width: rem(32px);
      height: rem(32px);
      top: 50%;
      left: 50%;
      border: rem(1px) solid var(--black-08);
      border-radius: rem(100px);
      transform: translate(-50%, -50%);
    }
  }

  &.small {
    :global(.ant-radio-button-wrapper) {
      width: rem(30px);
      height: rem(30px);
    }

    :global(.ant-radio-button-wrapper-checked) {
      &::after {
        width: rem(36px);
        height: rem(36px);
      }
    }
  }
}
