.admin_productList {
  .table {
    position: relative;

    .buttonCreate {
      &_inner {
        position: absolute;
        top: rem(-32px);
        right: 0;
        transform: translateY(-100%);
        padding: rem(8px) rem(64px);
        border-radius: rem(10px);
        background-color: var(--black-08) !important;
        border: 0;
        * {
          color: var(--tan);
        }
      }
    }
  }
}
