.radioSize {
  :global(.ant-radio-group) {
    display: flex;
    gap: rem(16px);
  }

  :global(.ant-radio-button-wrapper) {
    border: 0px !important;
    width: rem(24px);
    height: rem(24px);
    position: relative;
    border-radius: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--tan);
    border: rem(1px) solid var(--black-08-20);
    border-radius: rem(100px);

    &::before {
      display: none;
    }

    &:hover {
      span {
        opacity: 0.8;
      }
    }

    span {
      font-size: rem(16px);
      font-weight: 700;
      align-self: center;
      color: var(--black-08) !important;
    }
  }

  :global(.ant-radio-button-wrapper-checked) {
    &::after {
      position: absolute;
      content: '';
      width: rem(32px);
      height: rem(32px);
      top: 50%;
      left: 50%;
      background-color: var(--black-08);
      border: rem(1px) solid var(--coral);
      transform: translate(-50%, -50%);
      border-radius: rem(100px);
    }

    span {
      position: relative;
      z-index: 1;
      color: var(--tan) !important;
    }
  }

  &.small {
    :global(.ant-radio-button-wrapper) {
      width: rem(30px) !important;
      height: rem(30px) !important;

      span {
        font-size: rem(12px);
        font-weight: 500;
      }
    }

    :global(.ant-radio-button-wrapper-checked) {
      &::after {
        width: rem(36px);
        height: rem(36px);
      }
    }
  }
}
