.login {
  background: var(--black-08);
  padding: rem(100px) var(--gap-x);

  .loginBox {
    position: relative;
    margin: 0 rem(-40px);
    padding: 0 var(--gap-x);
    border-radius: rem(20px);
    overflow: hidden;
    background: var(--tan);

    &_top {
      padding-top: var(--gap-x);
      padding-right: var(--gap-x);
      display: flex;
      justify-content: space-between;
      margin-bottom: rem(68px);

      p {
        font-size: rem(16px);
        line-height: rem(18.78px);
      }

      .topContent {
        &_middle {
          letter-spacing: rem(-1.6px);
        }

        &_right {
          text-align: right;
        }
      }
    }

    &_form {
      .formTitle {
        font-size: rem(64px);
        line-height: rem(64px);
        margin-bottom: rem(86px);
      }

      :global(.ant-form-item) {
        margin-bottom: rem(68px);

        &:last-child {
          margin-bottom: rem(36px);
        }
      }

      :global(.ant-form-item) {
        span {
          text-transform: uppercase;
        }
      }

      :global(.ant-btn) {
        padding: 0;
        transition: 0.4s all var(--easeOutQuart);
        box-shadow: none;

        span {
          padding: rem(14px) rem(24px);
          border: rem(1px) solid var(--black-08);
          background: var(--black-08);
          border-radius: rem(100px);
          display: block;
          font-size: rem(16px);
          line-height: rem(16px);
          transition: 0.4s all var(--easeOutQuart);
        }

        &:hover {
          background: transparent !important;

          span {
            background: transparent !important;
            color: var(--black-08) !important;
          }
        }

        div {
          &:first-child {
            display: none;
          }
        }

        &:active {
          background: none;
        }
      }
    }

    &_regis {
      display: flex;
      justify-content: space-between;
      font-size: rem(16px);
      line-height: rem(18.78px);
      margin-bottom: rem(94px);

      .wrapRegis {
        text-align: right;
      }

      p {
        color: rgba($color: #080808b2, $alpha: 0.7);
      }

      a {
        font-weight: 700;
      }
    }

    &_googleLogin {
      padding-bottom: var(--gap-x);

      .dashed {
        text-align: center;
        font-size: rem(12px);
        line-height: rem(12px);
        color: var(--coral);
        margin-bottom: rem(24px);

        display: flex;
        gap: rem(12px);
        align-items: center;

        span {
          flex: 1;
          height: rem(1px);
          background: var(--coral);
          margin-top: rem(-3px);
        }
      }

      button {
        padding: rem(18px) 0;
        width: 100%;
        border: rem(1px) solid var(--black-08);
        border-radius: rem(10px);
        font-size: rem(16px);
        box-shadow: -3px 4px 4px 0px rgba(0, 0, 0, 0.1);
        cursor: not-allowed;
      }
    }

    &_text {
      align-self: flex-end;
      text-align: right;
      padding-bottom: var(--gap-x);
      padding-right: var(--gap-x);

      p {
        font-size: rem(20px);
        line-height: 100%;

        &:last-child {
          color: var(--coral);
        }
      }
    }

    .boxImage {
      margin: 0 rem(-40px);
      position: relative;

      &_img {
        width: 100%;
        height: 100%;
        border-radius: rem(20px);
        overflow: hidden;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &_logo {
        position: absolute;
        top: rem(30px);
        left: var(--gap-x);
        width: rem(14px);

        svg {
          width: 100%;
          height: auto;
        }
      }

      &_maquee {
        position: absolute;
        top: 0;
        right: 0;
        width: 8vw;
        -webkit-font-smoothing: antialiased;

        span {
          font-smooth: always;
          padding-bottom: rem(14px);
          display: block;
          font-size: rem(124px);
          line-height: rem(144px);
          color: var(--tan);
          writing-mode: vertical-rl;
          white-space: nowrap;
          text-orientation: sideways;
          user-select: none;
          pointer-events: none;
        }

        // :global(.rfm-marquee-container) {
        //   width: 100%;
        // }

        // :global(.rfm-marquee) {
        //   flex-direction: column;
        // }
      }
    }
  }
}
